body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Roboto Slab', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Raleway', sans-serif;
    
}

.svg-bottom {
    margin-top: -1px;
}

.svg-top {
    margin-bottom: -1px;
}

.primary-link {
    color: #2A9D8F;
}

.primary-link:hover {
    text-decoration: none;
    color: #000;
}

@media (min-width: 769px) {
    #name {
        font-size: 50pt;
    }
    
    #title {
        font-size: 22pt;
    }
    
    #links {
        font-size: 20pt;
    }
}

@media (max-width: 768px) {
    #name {
        font-size: 30pt;
    }
    
    #title {
        font-size: 16pt;
    }
    
    #links {
        font-size: 18pt;
    }
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.green-bg {
    background-color: #2A9D8F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card {
    transition: transform 0.5s;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.timeline-location a{
    color: white;
    font-style: italic;
    font-weight: 400;
}

.timeline-title a {
    color: white;
}

#hobbys {
    list-style: none;
    font-size: 16pt;
    padding: 0;
    margin: 0;
}
